body {
    margin-top: 10px;
}

h3 {
    margin: 4px;
}

img {
    width: 100%;
    max-width: 800px;
    object-fit: cover;
}

.option-button {
    width: 80%;
    height: auto;
    min-height: 50px;
    background-color: white;
    box-shadow: 0px 0px 8px;
    border: 4px solid lightgrey;
    border-radius: 20px;
    transition: border 0.5s;
    margin: 0 auto;
    margin-top: 1em;
    display: flex;
    padding: 10px;
}

.option-button-active {
    width: 80%;
    height: auto;
    min-height: 50px;
    background-color: white;
    box-shadow: 0px 0px 8px;
    border: 4px solid blue;
    border-radius: 20px;
    transition: border 0.5s;
    margin: 0 auto;
    margin-top: 1em;
    display: flex;
    padding: 10px;
}

.option-select {
    width: 30%;
    height: 10%;
    min-height: 60px;
    background-color: blue;
    box-shadow: 0px 0px 8px;
    border-radius: 20px;
    margin: 0 auto;
    margin-right: 10%;
    margin-top: 10%;
    display: flex;
    cursor: pointer;
}

.return {
    width: 30%;
    height: 10%;
    min-height: 60px;
    background-color: grey;
    border-radius: 20px;
    margin-left: 10%;
    margin-top: 10%;
    display: flex;
    cursor: pointer;
}

.actions {
    display: inline-flex;
    width: 100%;
}

.outer-div {
    display: grid;
    grid-template-columns: minmax(10rem, 1fr) 40%;
    grid-template-rows: 1fr 10rem;
    grid-auto-rows: auto;
    grid-gap: 20px 20px;
}

.image {
    display: flex;
    grid-area: 1 / 1 / 2 / 2;
    width: auto;
    height: 300px;
    max-height: 100%;
    margin-top: 5%;
    margin-left: 10px;
    align-content: center;
    align-items: center;
}

.selection-page {
    grid-area: 1 / 2 / 3 / 3;
    box-shadow: 0px 0px 20px;
    border-radius: 20px;
    background-color: white;
    width: 90%;
    height: 100%;
}

.selection-options {
    height: 100%;
    width: 100%;
}

.information {
    grid-area: 2 / 1 / 3 / 2;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px;
    padding: 10px;
    margin-left: 10px;
}

.car-details {
    display: inline-flex;
}

#option-name {
    margin: 0 auto;
}

#option-action {
    color: white;
    margin: auto auto;
    font-size: large;
}

.option-button:hover {
    border: 4px solid blue;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .outer-div {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .image {
        margin: 20px;
        grid-area: 1 / 1 / 2 / 2;
    }

    .selection-page {
        height: 100%;
        width: auto;
        margin: 20px;
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        flex-direction: column;
    }

    .selection-options {
        height: auto;
    }

    .information {
        padding: 0px;
        margin-left: 0px;
        width: auto;
        margin: 20px;
        grid-area: 3 / 1 / 4 / 2;
    }

    .option-select {
        margin-top: 2%;
    }
}
