@using GlobalFinance.Client.Views.Shared.Components.Buttons

<div class="top-nav">
    <div>
        
    </div>
    <div class="top-nav-home">
        <GenericNavButtonComponent id="main-logo" Title="Global Financing" NavigateToLocation="/"></GenericNavButtonComponent>
        
    </div>
    <div class="top-nav-btns">
        <GenericNavButtonComponent Title="Home" NavigateToLocation="/"></GenericNavButtonComponent>
        <GenericNavButtonComponent Title="Cars" NavigateToLocation="/cars"></GenericNavButtonComponent>
        <GenericNavButtonComponent Title="Inventory" NavigateToLocation="/inventory"></GenericNavButtonComponent>
    </div>
    <div class="top-nav-login">
        <AuthorizeView>
            <NotAuthorized>
                <GenericNavButtonComponent id="login" Title="Login" NavigateToLocation="/login"></GenericNavButtonComponent>
            </NotAuthorized>
            <Authorized>
                <GenericNavButtonComponent Title="Dashboard" NavigateToLocation="/dashboard"></GenericNavButtonComponent>
                <GenericNavButtonComponent id="login" Title="Log Out" NavigateToLocation="/logout"></GenericNavButtonComponent>
            </Authorized>
        </AuthorizeView>
        
        
    </div>
</div>
