@using GlobalFinance.Client.Views.Shared.Components.Buttons

<div class="top-nav">
    <div>
        
    </div>
    <div class="top-nav-home">
        <GenericNavButtonComponent id="main-logo" Title="Global Financing" NavigateToLocation="/"></GenericNavButtonComponent>
        
    </div>
    <div class="top-nav-btns">
        <GenericNavButtonComponent Title="Home" NavigateToLocation="/"></GenericNavButtonComponent>
        <GenericNavButtonComponent Title="Cars" NavigateToLocation="/cars"></GenericNavButtonComponent>
        <GenericNavButtonComponent Title="Offers" NavigateToLocation="/offers"></GenericNavButtonComponent>
    </div>
    <div class="top-nav-login">
        <GenericNavButtonComponent id="login" Title="Login" NavigateToLocation="/login"></GenericNavButtonComponent>
        
    </div>
</div>
