* {
    background-color: white;
}

.top-nav {
    white-space: nowrap;
    box-shadow: 0px 10px 10px lightgrey;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}

.top-nav-home {
    display: inline-block;
    float: left
}

.top-nav-btns {
    display: inline-block;
}

.top-nav-login {
    display: inline-block;
    float: right;
}

