/* /Views/Components/CarOptionComponent.razor.rz.scp.css */
body[b-lqvpom6inh] {
}

h3[b-lqvpom6inh] {
    font-size: 14px;
    margin: 0px 2px;
}

h4[b-lqvpom6inh] {
    font-size: 15px;
    margin: 0px 4px;
}

img[b-lqvpom6inh] {
    width: 100%;
    padding-top: 20px;
}

#price[b-lqvpom6inh] {
    font-size: 18px;
    font-weight: bold;
    color: blue;
    opacity: 0.7;
}

.outer-div[b-lqvpom6inh] {
    flex: 0 0 33%;
    border: 4px solid lightgrey;
    border-radius: 20px;
    width: 300px;
    transition: border 0.5s;
}

.outer-div:hover[b-lqvpom6inh] {
    border: 4px solid blue;
    cursor: pointer;
}

.image[b-lqvpom6inh] {
    margin: 0 auto;
    width: 90%;
    height: 200px;
    background-color: white;
}

.details[b-lqvpom6inh] {
    display: inline-flex;
    clear: both;
}

.details-pricing[b-lqvpom6inh] {
    display: flex;
}
/* /Views/Components/Configurator/ConfiguratorDisplayComponent.razor.rz.scp.css */
body[b-czez28hexb] {
    margin-top: 10px;
}

h3[b-czez28hexb] {
    margin: 4px;
}

img[b-czez28hexb] {
    width: 100%;
    max-width: 800px;
    object-fit: cover;
}

.option-button[b-czez28hexb] {
    width: 80%;
    height: auto;
    min-height: 50px;
    background-color: white;
    box-shadow: 0px 0px 8px;
    border: 4px solid lightgrey;
    border-radius: 20px;
    transition: border 0.5s;
    margin: 0 auto;
    margin-top: 1em;
    display: flex;
    padding: 10px;
}

.option-button-active[b-czez28hexb] {
    width: 80%;
    height: auto;
    min-height: 50px;
    background-color: white;
    box-shadow: 0px 0px 8px;
    border: 4px solid blue;
    border-radius: 20px;
    transition: border 0.5s;
    margin: 0 auto;
    margin-top: 1em;
    display: flex;
    padding: 10px;
}

.option-select[b-czez28hexb] {
    width: 30%;
    height: 10%;
    min-height: 60px;
    background-color: blue;
    box-shadow: 0px 0px 8px;
    border-radius: 20px;
    margin: 0 auto;
    margin-right: 10%;
    margin-top: 10%;
    display: flex;
    cursor: pointer;
}

.return[b-czez28hexb] {
    width: 30%;
    height: 10%;
    min-height: 60px;
    background-color: grey;
    border-radius: 20px;
    margin-left: 10%;
    margin-top: 10%;
    display: flex;
    cursor: pointer;
}

.actions[b-czez28hexb] {
    display: inline-flex;
    width: 100%;
}

.outer-div[b-czez28hexb] {
    display: grid;
    grid-template-columns: minmax(10rem, 1fr) 40%;
    grid-template-rows: 1fr 10rem;
    grid-auto-rows: auto;
    grid-gap: 20px 20px;
}

.image[b-czez28hexb] {
    display: flex;
    grid-area: 1 / 1 / 2 / 2;
    width: auto;
    height: 300px;
    max-height: 100%;
    margin-top: 5%;
    margin-left: 10px;
    align-content: center;
    align-items: center;
}

.selection-page[b-czez28hexb] {
    grid-area: 1 / 2 / 3 / 3;
    box-shadow: 0px 0px 20px;
    border-radius: 20px;
    background-color: white;
    width: 90%;
    height: 100%;
}

.selection-options[b-czez28hexb] {
    height: 100%;
    width: 100%;
}

.information[b-czez28hexb] {
    grid-area: 2 / 1 / 3 / 2;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px;
    padding: 10px;
    margin-left: 10px;
}

.car-details[b-czez28hexb] {
    display: inline-flex;
}

#option-name[b-czez28hexb] {
    margin: 0 auto;
}

#option-action[b-czez28hexb] {
    color: white;
    margin: auto auto;
    font-size: small;
}

.option-button:hover[b-czez28hexb] {
    border: 4px solid blue;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .outer-div[b-czez28hexb] {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .image[b-czez28hexb] {
        margin: 20px;
        grid-area: 1 / 1 / 2 / 2;
    }

    .selection-page[b-czez28hexb] {
        height: 100%;
        width: auto;
        margin: 20px;
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        flex-direction: column;
    }

    .selection-options[b-czez28hexb] {
        height: auto;
    }

    .information[b-czez28hexb] {
        padding: 0px;
        margin-left: 0px;
        width: auto;
        margin: 20px;
        grid-area: 3 / 1 / 4 / 2;
    }

    .option-select[b-czez28hexb] {
        margin-top: 2%;
    }
}
/* /Views/Components/InventoryOptionComponent.razor.rz.scp.css */
body[b-vqt43ztrjf] {
}

h3[b-vqt43ztrjf] {
    font-size: 14px;
    margin: 0px 2px;
}

h4[b-vqt43ztrjf] {
    font-size: 15px;
    margin: 0px 4px;
}

img[b-vqt43ztrjf] {
    width: 100%;
    padding-top: 20px;
}

#price[b-vqt43ztrjf] {
    font-size: 18px;
    font-weight: bold;
    color: blue;
    opacity: 0.7;
}

.outer-div[b-vqt43ztrjf] {
    flex: 0 0 33%;
    border: 4px solid lightgrey;
    border-radius: 20px;
    width: 300px;
    transition: border 0.5s;
}

    .outer-div:hover[b-vqt43ztrjf] {
        border: 4px solid blue;
        cursor: pointer;
    }

.image[b-vqt43ztrjf] {
    margin: 0 auto;
    width: 90%;
    height: 200px;
    background-color: white;
}

.details[b-vqt43ztrjf] {
    display: inline-flex;
    clear: both;
}

.details-pricing[b-vqt43ztrjf] {
    display: flex;
}
/* /Views/Pages/Authentication/ForgotPassword.razor.rz.scp.css */
.forgot-form[b-ugp46tvjku] {
    background-color: white;
    margin: 0 auto;
    width: 30%;
    min-width: 500px;
    text-align: center;
    color: white;
    border-radius: 20px;
    height: 20vh;
    padding: 20px;
    min-height: 200px;
    box-shadow: 0px 0px 50px grey;
}

.forgot-form-inner[b-ugp46tvjku] {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.forgot-form-label[b-ugp46tvjku] {
    width: 100%;
    margin: 0 auto;
    color: black;
}

[b-ugp46tvjku] .forgot-form-input {
    display: block;
    width: 80%;
    background-color: #d9d9d9;
    margin: 0 auto;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    height: 30%;
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.forgot-form-section[b-ugp46tvjku] {
    display: block;
    width: 100%;
    height: 50%;
}

.forgot-form-button[b-ugp46tvjku] {
    color: white;
    width: 35%;
    background-color: blue;
    border: none;
    border-radius: 20px;
    transition: width 0.5s;
    margin-top: 20px;
}

.forgot-form-error-message[b-ugp46tvjku] {
    width: 100%;
    margin: 0 auto;
    color: red;
}

.forgot-form-button:hover[b-ugp46tvjku] {
    width: 40%;
}

[b-ugp46tvjku] *:focus {
    outline: none;
    outline-width: 0;
}
/* /Views/Pages/Authentication/Login.razor.rz.scp.css */
.login-form[b-8ggl0ruzd5] {

    background-color: white;
    margin: 0 auto;
    width: 30%;
    min-width: 500px;
    text-align: center;
    color: white;
    border-radius: 20px;
    height: 30vh;
    padding: 20px;
    min-height: 300px;
    box-shadow: 0px 0px 50px grey;
}

.login-form-inner[b-8ggl0ruzd5] {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.login-form-label[b-8ggl0ruzd5] {
    width: 100%;
    margin: 0 auto;
    color: black;
}

[b-8ggl0ruzd5] .login-form-input {
    display: block;
    width: 80%;
    background-color: #d9d9d9;
    margin: 0 auto;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    height: 60%;
    padding-left: 20px;
    padding-right: 20px;
}

.login-form-section[b-8ggl0ruzd5] {
    display: block;
    width: 100%;
    height: 25%;
}

.login-form-button[b-8ggl0ruzd5] {
    color: white;
    width: 30%;
    background-color: blue;
    border: none;
    border-radius: 20px;
    transition: width 0.5s;
    margin-top: 20px;
}

.login-form-sub-button[b-8ggl0ruzd5] {
    position: relative;
    left: 20%;
    background-color:white;
    border: none;
    text-decoration: underline;
    color: black;
}

.login-form-error-message[b-8ggl0ruzd5] {
    width: 100%;
    margin: 0 auto;
    color: red;
}

.login-form-button:hover[b-8ggl0ruzd5] {
    width: 35%;
}

[b-8ggl0ruzd5] *:focus {
    outline: none;
    outline-width: 0;
}
/* /Views/Pages/Authentication/Register.razor.rz.scp.css */
.register-form[b-2x67hwbbf9] {
    background-color: white;
    margin: 0 auto;
    width: 30%;
    min-width: 500px;
    text-align: center;
    color: white;
    border-radius: 20px;
    height: 30vh;
    padding: 20px;
    min-height: 350px;
    box-shadow: 0px 0px 50px grey;
}

.register-form-inner[b-2x67hwbbf9] {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register-form-label[b-2x67hwbbf9] {
    width: 100%;
    margin: 0 auto;
    color: black;
}

[b-2x67hwbbf9] .register-form-input {
    display: block;
    width: 80%;
    background-color: #d9d9d9;
    margin: 0 auto;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    height: 50%;
    padding-left: 20px;
    padding-right: 20px;
}

.register-form-section[b-2x67hwbbf9] {
    display: block;
    width: 100%;
    height: 30%;
}

.register-form-button[b-2x67hwbbf9] {
    color: white;
    width: 30%;
    background-color: blue;
    border: none;
    border-radius: 20px;
    transition: width 0.5s;
    margin-top: 20px;
}

.register-form-sub-button[b-2x67hwbbf9] {
    background-color: white;
    border: none;
    text-decoration: underline;
    color: black;
}

.register-form-error-message[b-2x67hwbbf9] {
    width: 100%;
    margin: 0 auto;
    color: red;
}

.register-form-button:hover[b-2x67hwbbf9] {
    width: 35%;
}

[b-2x67hwbbf9] *:focus {
    outline: none;
    outline-width: 0;
}
/* /Views/Pages/Authentication/RegisterCustomer.razor.rz.scp.css */
.customer-form[b-asbmaaci4s] {
    background-color: white;
    margin: 0 auto;
    width: 30%;
    min-width: 500px;
    text-align: center;
    color: white;
    border-radius: 20px;
    height: 30vh;
    padding: 20px;
    min-height: 600px;
    box-shadow: 0px 0px 50px grey;
}

.customer-form-inner[b-asbmaaci4s] {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding: 30px;
}

.customer-form-label[b-asbmaaci4s] {
    width: 100%;
    color: black;
    text-align: start;
    padding-left: 20px;
}

[b-asbmaaci4s] .customer-form-input {
    display: block;
    width: 80%;
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    height: 60%;
    padding-left: 20px;
    padding-right: 20px;
}

.customer-form-section[b-asbmaaci4s] {
    display: block;
    width: 100%;
    height: 10%;
}

.customer-form-button[b-asbmaaci4s] {
    color: white;
    width: 30%;
    background-color: blue;
    border: none;
    border-radius: 20px;
    transition: width 0.5s;
    margin-top: 20px;
}

.customer-form-sub-button[b-asbmaaci4s] {
    position: absolute;
    right: 40%;
    background-color: white;
    border: none;
    text-decoration: underline;
    color: black;
}

.customer-form-error-message[b-asbmaaci4s] {
    width: 100%;
    margin: 0 auto;
    color: red;
}

#name[b-asbmaaci4s] {
    display: inline-flex;

}



#postcode[b-asbmaaci4s] {
    width: 40%;
}

#contact-number[b-asbmaaci4s] {
    width: 60%;
}

.customer-form-button:hover[b-asbmaaci4s] {
    width: 35%;
}

[b-asbmaaci4s] *:focus {
    outline: none;
    outline-width: 0;
}
/* /Views/Pages/CarsPage.razor.rz.scp.css */
body[b-7ifbbbe3h0] {
}

.car-grid[b-7ifbbbe3h0] {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    margin: 30px;
    grid-gap: 10px;
    justify-items: center;
}
/* /Views/Pages/HomePage.razor.rz.scp.css */
.outer-div[b-aaqd9d26q7] {
    height: 100%;
    width: 100%;
    display: flex;
    
}

.inner-div[b-aaqd9d26q7] {
    height: auto;
    display: inline-block;
}


.nav-btns[b-aaqd9d26q7] {
    display: flex;
    height: contain;
    position: relative;
    top: 20%;
    bottom: 50%;
}

#car-image[b-aaqd9d26q7] {
    height: 100%;
    width: 50%
}

h1[b-aaqd9d26q7] {
    font-weight: 700;
    font-size: 8vh;
}

img[b-aaqd9d26q7] {
    height: 100%;
    width: 100%;
}
/* /Views/Pages/InventoryPage.razor.rz.scp.css */
body[b-e3aalrj1b6] {
}

.car-grid[b-e3aalrj1b6] {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    margin: 30px;
    grid-gap: 10px;
    justify-items: center;
}
/* /Views/Shared/Components/Buttons/GenericNavButtonComponent.razor.rz.scp.css */
a[b-aagy7j7nvx] {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 20px;
    margin: 10px 5px;
    transition: background-color 0.5s;
}

.active[b-aagy7j7nvx] {
    background-color: pink;
}

#login[b-aagy7j7nvx] {
    color: white;
    background-color: blue;
}

#offers[b-aagy7j7nvx] {
    border: 2px solid blue;
    transition: border 0.2s;
}

#offers:hover[b-aagy7j7nvx] {
    border: 2px solid lightgrey;
    background-color: white;
}


#main-logo[b-aagy7j7nvx] {
    color: black;
    transition: none;
    font-weight: 700;
    font-size: 25px;
    padding: 5px 16px;
}

#main-logo:hover[b-aagy7j7nvx] {
    background-color: white;
}

a:hover[b-aagy7j7nvx] {
    background-color: lightgrey;
    text-decoration: none;
    cursor: pointer;
}




/* /Views/Shared/Components/NavBarComponent.razor.rz.scp.css */
*[b-ma7pnd7n50] {
    background-color: white;
}

.top-nav[b-ma7pnd7n50] {
    white-space: nowrap;
    
}

.top-nav-home[b-ma7pnd7n50] {
    display: inline-block;
    float: left
}

.top-nav-btns[b-ma7pnd7n50] {
    display: inline-block;
}

.top-nav-login[b-ma7pnd7n50] {
    display: inline-block;
    float: right;
}

/* /Views/Shared/Components/TitleComponent.razor.rz.scp.css */


.top-row h1[b-jktahn5nld] {
   color: black;
   text-align: center;
   padding: 0px 0px 0px 10px;
   font-size: 30px;
}
/* /Views/Shared/Pages/MainLayout.razor.rz.scp.css */
.page[b-v6welsjzr3] {
    background-color: white;
}

.top-row[b-v6welsjzr3] {
    background-color: white;
    overflow: hidden;
    min-height: 80px;
    align-items: center;
    display: flex;
    
}


/*
    Main Colours
    Light Blue - 1E91D6
    Darker Blue - 0072BB
*/
