@page "/cars/{CarId:int}/modelvariant"
@using GlobalFinance.Client.ServicesInterfaces
@using GlobalFinance.Client.Views.Components.Configurator
@using GlobalFinance.Shared.Models
@inject ICarService CarService

<h3>Configurator</h3>

@if(_car is not null){
    <div class="outer-div">
        <div class="image">
            <img src="@_imgSrc"/>
        </div>
        <div class="selection-page">
            <ConfiguratorSelectionComponent Title="Select Model Variant"></ConfiguratorSelectionComponent>
        </div>
        <div class="information">
            <div class="car-details">
                <h3>@_car.CarMakeName</h3>
                <h3>@_car.CarModelName</h3>
            </div>
        </div>

    </div>
}


@code {
    [Parameter, EditorRequired]
    public int CarId { get; set; }

    private CarModel? _car;

    private string _imgSrc;

    protected override async Task OnInitializedAsync()
    {
        var carResult = await CarService.GetSingleCar(CarId);
        if(carResult is not null){
            _car = carResult;
            _imgSrc = $"Images/Car-images/{CarId}.jpg";
        }
    }

    
}
