@page "/cars/{CarId:int}/modelvariant"
@using GlobalFinance.Client.ServicesInterfaces
@using GlobalFinance.Client.Views.Components.Configurator
@using GlobalFinance.Shared.Models
@inject ICarService CarService

<h3>Configurator</h3>

<ConfiguratorDisplayComponent _car="@_car" _carImgSrc="@_imgSrc" _action="Choose Model Variant" _options="@_options"></ConfiguratorDisplayComponent>


@code {
            [Parameter, EditorRequired]
            public int CarId { get; set; }

    private CarModel? _car;

        private string _imgSrc;

        private List<ModelVariantModel> _modelVariants;

        private List<ConfiguratorOptionModel> _options;

        protected override async Task OnInitializedAsync()
        {
            await CarService.GetModels(CarId);
            var carResult = await CarService.GetSingleCar(CarId);
            if (carResult is not null)
            {
                _car = carResult;
                _imgSrc = $"Images/Car-images/{CarId}.jpg";
                _modelVariants = CarService.ModelVariants;
                _options = _modelVariants.Select(x => new ConfiguratorOptionModel()
                {
                    OptionId = x.CarId,
                    OptionName = x.Name,
                    OptionPriceIncrease = x.PriceIncrease
                }).ToList();
            }
        }


    }
