@page "/"
@using GlobalFinance.Client.Views.Shared.Components.Buttons

<div class="outer-div">

    <div class="inner-div" id="car-image">
        <img src="Images/home-page-car.jpg" />
    </div>

    <div class="inner-div">
        <h1>Welcome to</h1>
        <h1>Global Financing</h1>
        
        <div class="nav-btns">
            <GenericNavButtonComponent id="login" Title="New Order" NavigateToLocation="/cars"></GenericNavButtonComponent>
            <GenericNavButtonComponent id="offers" Title="View Inventory" NavigateToLocation="/offers"></GenericNavButtonComponent>
        </div>

        <AuthorizeView>
            
            <Authorized>
                <span>You are authorized as @context.User.Identity.Name</span>
            </Authorized>
        </AuthorizeView>

        
    </div>


    
</div>



@code {

}
