.outer-div {
    height: 100%;
    width: 100%;
    display: flex;
}

.inner-div {
    height: auto;
    display: inline-block;
}


.nav-btns {
    display: flex;
    height: contain;
    position: relative;
    top: 20%;
    bottom: 50%;
}

#car-image {
    height: 100%;
    width: 50%;
    margin-top: 20px;
}

h1 {
    font-weight: 700;
    font-size: 8vh;
    margin-top: 10px;
}

img {
    height: 100%;
    width: 100%;
}
