@page "/offers"
@using GlobalFinance.Client.ServicesInterfaces
@using GlobalFinance.Shared.Models
@inject IOfferService OfferService
<h3>OffersPage</h3>

@if(OfferService.Offers is not null){
    <table>
        <tr>
            <th>Offer Id</th>
            <th>Offer Title</th>
            <th>Offer Expiry</th>
            <th>Car Id</th>
        </tr>
        @foreach (var offer in OfferService.Offers)
        {
            <tr>
                <th>@offer.OfferId</th>
                <th>@offer.OfferPrice</th>
                <th>@offer.OfferExpiry</th>
                <th>@offer.CarId</th>
            </tr>
        }
    </table>
}


@code {
    private List<OfferModel>? _offers;

    protected override async Task OnInitializedAsync()
    {
        await OfferService.GetOffers();
        
    }
}
