a[b-aagy7j7nvx] {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 20px;
    margin: 10px 5px;
    transition: background-color 0.5s;
}

.active[b-aagy7j7nvx] {
    background-color: pink;
}

#login[b-aagy7j7nvx] {
    color: white;
    background-color: blue;
}

#offers[b-aagy7j7nvx] {
    border: 2px solid blue;
    transition: border 0.2s;
}

#offers:hover[b-aagy7j7nvx] {
    border: 2px solid lightgrey;
    background-color: white;
}


#main-logo[b-aagy7j7nvx] {
    color: black;
    transition: none;
    font-weight: 700;
    font-size: 25px;
    padding: 5px 16px;
}

#main-logo:hover[b-aagy7j7nvx] {
    background-color: white;
}

a:hover[b-aagy7j7nvx] {
    background-color: lightgrey;
    text-decoration: none;
    cursor: pointer;
}




