.main-body {
    margin-top: 8%;
}

.page {
    background-color: white;
}

.top-row {
    background-color: white;
    overflow: hidden;
    min-height: 80px;
    align-items: center;
    display: flex;
    
}


/*
    Main Colours
    Light Blue - 1E91D6
    Darker Blue - 0072BB
*/