.page[b-v6welsjzr3] {
    background-color: white;
}

.top-row[b-v6welsjzr3] {
    background-color: white;
    overflow: hidden;
    min-height: 80px;
    align-items: center;
    display: flex;
    
}