body {
}

.heading {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.confirmation-selection {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    
}

.confirmation-selection-dashboard {
    border: none;
    background-color: blue;
    color: white;
    border-radius: 20px;
    padding: 10px;
}

.confirmation-selection-home {
    border: none;
    background-color: #ededed;
    color: black;
    border-radius: 20px;
    padding: 10px;
}
