*[b-ma7pnd7n50] {
    background-color: white;
}

.top-nav[b-ma7pnd7n50] {
    white-space: nowrap;
    box-shadow: 0px 10px 10px lightgrey;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}

.top-nav-home[b-ma7pnd7n50] {
    display: inline-block;
    float: left
}

.top-nav-btns[b-ma7pnd7n50] {
    display: inline-block;
}

.top-nav-login[b-ma7pnd7n50] {
    display: inline-block;
    float: right;
}

