/* /Views/AuthorisedViews/AdminDashboard/AdminDashboardHome.razor.rz.scp.css */
html[b-p4keyf95fp], body[b-p4keyf95fp] {
    margin: 0px;
    height: 100%;
}

.console-outer[b-p4keyf95fp] {
    
    position: absolute;
    top: 90px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin-bottom: 10px;
}

.heading[b-p4keyf95fp] {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.console-selection[b-p4keyf95fp] {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.console-selection-button[b-p4keyf95fp] {
    border: none;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 20px;
    margin: 10px 5px;
    transition: background-color 0.5s;
}

#unselected-button:hover[b-p4keyf95fp] {
    background: lightgrey;
}

#selected-button[b-p4keyf95fp] {
    background: lightgrey;
}

#unselected-button[b-p4keyf95fp] {
    background: none;
}

.console[b-p4keyf95fp] {
    width: 95%;
    height: 80%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0px 0px 10px lightgrey;
}
/* /Views/AuthorisedViews/ClientDashboard/DashboardHome.razor.rz.scp.css */
img[b-dw4m0tssqw] {
    max-height: 100%;
    max-width: 80%;
    margin: 10px;
    object-fit: contain;
}

.heading[b-dw4m0tssqw] {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.enquiries-outer[b-dw4m0tssqw] {
    width: 60%;
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-bottom: 10px;
}

.enquiry[b-dw4m0tssqw] {
    border-radius: 20px;
    box-shadow: 0px 0px 10px lightgrey;
    width: 100%;
    min-width: 500px;
    min-height: 150px;
    display: flex;
    justify-content: space-evenly;
    height: 20vh;
    transition: box-shadow 0.5s;
}

.enquiry-image[b-dw4m0tssqw] {
    display: flex;
    position: relative;
    left: 0%;
    height: 100%;
    width: 30%;
    justify-content: center;
    align-items: center;

}

.enquiry-inner[b-dw4m0tssqw] {
    display: inline-flex;
    width: 60%;
    background-color: #ededed;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

.enquiry-information[b-dw4m0tssqw] {
    align-self: center;
    width: 50%;
    height: 80%;
    text-align: center;
    display: inline-block;
    align-items: center;
    margin: 0 auto;
}

.enquiry-information-section[b-dw4m0tssqw] {
    width: 100%;
}

.enquiry-actions[b-dw4m0tssqw] {
    display: flex;
    width: 50%;
    position: relative;
    align-items: center;
    
}

.enquiry-button[b-dw4m0tssqw] {
    position: relative;
    left: 50%;
    border-radius: 20px;
    color: white;
    background-color: blue;
    border: none;
    width: 40%;
    height: 25%;
}

.enquiry:hover[b-dw4m0tssqw] {
    box-shadow: 0px 0px 20px lightgrey;
}

#price[b-dw4m0tssqw] {
    font-weight: bold;
}
/* /Views/AuthorisedViews/SendEnquiry.razor.rz.scp.css */
body[b-hiys6m67nz] {
}

img[b-hiys6m67nz] {
    width: 100%;
}

table[b-hiys6m67nz] {
    width: 80%;
    margin: 0 auto;
}

th[b-hiys6m67nz], td[b-hiys6m67nz] {
    text-align: left;
}

tr:nth-child(even)[b-hiys6m67nz] {
    background-color: #ededed;
}

.outer-div[b-hiys6m67nz] {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 20rem 20rem 10rem;
    grid-auto-rows: auto;
    grid-gap: 20px 20px;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 100px;
}

.header[b-hiys6m67nz] {
    grid-area: 1 / 1 / 2 / 3;
    text-align: center;
}

.image[b-hiys6m67nz] {
    display: flex;
    width: auto;
    height: 300px;
    max-height: 100%;
    margin-top: 5%;
    margin-left: 10px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.finance[b-hiys6m67nz] {
    grid-area: 2 / 2 / 3 / 3;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    min-width: 400px;
    height: 100%;
    box-shadow: 0px 0px 20px;
    padding: 10px;
    text-align: center;
}

.personal-details[b-hiys6m67nz] {
    grid-area: 3 / 2 / 4 / 3;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    min-width: 400px;
    height: 100%;
    box-shadow: 0px 0px 20px;
    padding: 10px;
    text-align: center;
    
}

.personal-details-inner[b-hiys6m67nz] {
    text-align: left;
    width: 75%;
    margin: 0 auto;
}

.personal-details-name[b-hiys6m67nz] {
    display: inline-flex;
    justify-content: left;
    width: 100%;
}

#name[b-hiys6m67nz] {
    padding-right: 5px;
}

.finance-actions[b-hiys6m67nz] {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    padding-bottom: 1%;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    box-shadow: 0px -10px 10px lightgrey;
    display: inline-flex;
}

.finance-button[b-hiys6m67nz] {
    width: 20%;
    border: none;
    border-radius: 20px;
    transition: width 0.5s;
    margin-top: 20px;
    margin: 0 auto;
}

#cancel[b-hiys6m67nz] {
    color: black;
    background-color: #ededed;
}

#proceed[b-hiys6m67nz] {
    color: white;
    background-color: blue;
}

#monthly-payment[b-hiys6m67nz] {
    color: black;
    width: 50%;
    padding-left: 10%;
}

.information[b-hiys6m67nz] {
    grid-area: 2 / 1 / 4 / 2;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    min-width: 400px;
    height: 100%;
    box-shadow: 0px 0px 20px;
    padding: 10px;
    text-align: center;
}

.car-details[b-hiys6m67nz] {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
    height: 20%;
    background-color: #ededed;
    border-radius: 20px;
}

.car-sub-details[b-hiys6m67nz] {
    display: inline-block;
    align-content: space-evenly;
    height: 70%;
    padding: 20px;
}

#total-months[b-hiys6m67nz] {
    display: block;
    margin: 0 auto;
    padding: 20px;
}

#deposit[b-hiys6m67nz] {
    display: block;
    margin: 0 auto;
    padding: 20px;
}

.file-upload[b-hiys6m67nz] {
    grid-area: 4 / 1 / 5 / 3;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    min-width: 400px;
    height: 100%;
    box-shadow: 0px 0px 20px;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 1200px) {

    .outer-div[b-hiys6m67nz] {
        grid-template-rows: 10% 30rem 20rem 20rem 10rem;
    }

    .information[b-hiys6m67nz] {
        grid-area: 2 / 1 / 3 / 3;
    }

    .finance[b-hiys6m67nz] {
        grid-area: 3 / 1 / 4 / 3;
    }

    .personal-details[b-hiys6m67nz] {
        grid-area: 4 / 1 / 5 / 3;
    }

    .file-upload[b-hiys6m67nz] {
        grid-area: 5 / 1 / 6 / 3;
    }

    .image[b-hiys6m67nz] {
        margin-top: 0px;
    }

    .car-details[b-hiys6m67nz] {
        margin-top: 0px;
        margin-bottom: 10%;
        height: auto;
    }

    .car-name[b-hiys6m67nz] {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        margin: 0 auto;
    }
}
/* /Views/Components/CarOptionComponent.razor.rz.scp.css */
body[b-lqvpom6inh] {
}

h3[b-lqvpom6inh] {
    font-size: 14px;
    margin: 0px 2px;
}

h4[b-lqvpom6inh] {
    font-size: 15px;
    margin: 0px 4px;
}

img[b-lqvpom6inh] {
    width: 100%;
    padding-top: 20px;
}

#price[b-lqvpom6inh] {
    font-size: 18px;
    font-weight: bold;
    color: blue;
    opacity: 0.7;
}

.outer-div[b-lqvpom6inh] {
    flex: 0 0 33%;
    border: 4px solid lightgrey;
    border-radius: 20px;
    width: 300px;
    transition: border 0.5s;
    box-shadow: 0px 0px 10px grey;
}

    .outer-div:hover[b-lqvpom6inh] {
        border: 4px solid blue;
        cursor: pointer;
        box-shadow: 0px 0px 10px blue;
    }

.image[b-lqvpom6inh] {
    margin: 0 auto;
    width: 90%;
    height: 200px;
    background-color: white;
}

.details[b-lqvpom6inh] {
    display: inline-flex;
    clear: both;
}

.details-pricing[b-lqvpom6inh] {
    display: flex;
}
/* /Views/Components/Configurator/ConfiguratorDisplayComponent.razor.rz.scp.css */
body[b-czez28hexb] {
    margin-top: 10px;
}

h3[b-czez28hexb] {
    margin: 4px;
}

img[b-czez28hexb] {
    width: 100%;
    max-width: 800px;
    object-fit: cover;
}

.option-button[b-czez28hexb] {
    width: 80%;
    height: auto;
    min-height: 50px;
    background-color: white;
    box-shadow: 0px 0px 8px;
    border: 4px solid lightgrey;
    border-radius: 20px;
    transition: border 0.5s;
    margin: 0 auto;
    margin-top: 1em;
    display: flex;
    padding: 10px;
}

.option-button-active[b-czez28hexb] {
    width: 80%;
    height: auto;
    min-height: 50px;
    background-color: white;
    box-shadow: 0px 0px 8px;
    border: 4px solid blue;
    border-radius: 20px;
    transition: border 0.5s;
    margin: 0 auto;
    margin-top: 1em;
    display: flex;
    padding: 10px;
}

.option-select[b-czez28hexb] {
    width: 30%;
    height: 10%;
    min-height: 60px;
    background-color: blue;
    box-shadow: 0px 0px 8px;
    border-radius: 20px;
    margin: 0 auto;
    margin-right: 10%;
    margin-top: 10%;
    display: flex;
    cursor: pointer;
}

.return[b-czez28hexb] {
    width: 30%;
    height: 10%;
    min-height: 60px;
    background-color: grey;
    border-radius: 20px;
    margin-left: 10%;
    margin-top: 10%;
    display: flex;
    cursor: pointer;
}

.actions[b-czez28hexb] {
    display: inline-flex;
    width: 100%;
}

.outer-div[b-czez28hexb] {
    display: grid;
    grid-template-columns: minmax(10rem, 1fr) 40%;
    grid-template-rows: 1fr 10rem;
    grid-auto-rows: auto;
    grid-gap: 20px 20px;
}

.image[b-czez28hexb] {
    display: flex;
    grid-area: 1 / 1 / 2 / 2;
    width: auto;
    height: 300px;
    max-height: 100%;
    margin-top: 5%;
    margin-left: 10px;
    align-content: center;
    align-items: center;
}

.selection-page[b-czez28hexb] {
    grid-area: 1 / 2 / 3 / 3;
    box-shadow: 0px 0px 20px;
    border-radius: 20px;
    background-color: white;
    width: 90%;
    height: 100%;
}

.selection-options[b-czez28hexb] {
    height: 100%;
    width: 100%;
}

.information[b-czez28hexb] {
    grid-area: 2 / 1 / 3 / 2;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px;
    padding: 10px;
    margin-left: 10px;
}

.car-details[b-czez28hexb] {
    display: inline-flex;
}

#option-name[b-czez28hexb] {
    margin: 0 auto;
}

#option-action[b-czez28hexb] {
    color: white;
    margin: auto auto;
    font-size: large;
}

.option-button:hover[b-czez28hexb] {
    border: 4px solid blue;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .outer-div[b-czez28hexb] {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .image[b-czez28hexb] {
        margin: 20px;
        grid-area: 1 / 1 / 2 / 2;
    }

    .selection-page[b-czez28hexb] {
        height: 100%;
        width: auto;
        margin: 20px;
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        flex-direction: column;
    }

    .selection-options[b-czez28hexb] {
        height: auto;
    }

    .information[b-czez28hexb] {
        padding: 0px;
        margin-left: 0px;
        width: auto;
        margin: 20px;
        grid-area: 3 / 1 / 4 / 2;
    }

    .option-select[b-czez28hexb] {
        margin-top: 2%;
    }
}
/* /Views/Components/InventoryOptionComponent.razor.rz.scp.css */
body[b-vqt43ztrjf] {
}

h3[b-vqt43ztrjf] {
    font-size: 14px;
    margin: 0px 2px;
}

h4[b-vqt43ztrjf] {
    font-size: 15px;
    margin: 0px 4px;
}

img[b-vqt43ztrjf] {
    width: 100%;
    padding-top: 20px;
}

#price[b-vqt43ztrjf] {
    font-size: 18px;
    font-weight: bold;
    color: blue;
    opacity: 0.7;
}

.outer-div[b-vqt43ztrjf] {
    flex: 0 0 33%;
    border: 4px solid lightgrey;
    border-radius: 20px;
    width: 300px;
    transition: border 0.5s;
    box-shadow: 0px 0px 10px grey;
}

    .outer-div:hover[b-vqt43ztrjf] {
        border: 4px solid blue;
        cursor: pointer;
        box-shadow: 0px 0px 10px blue;
    }

.image[b-vqt43ztrjf] {
    margin: 0 auto;
    width: 90%;
    height: 200px;
    background-color: white;
}

.details[b-vqt43ztrjf] {
    display: inline-flex;
    clear: both;
}

.details-pricing[b-vqt43ztrjf] {
    display: flex;
}
/* /Views/Pages/Authentication/ForgotPassword.razor.rz.scp.css */
.forgot-form[b-ugp46tvjku] {
    background-color: white;
    margin: 0 auto;
    width: 30%;
    min-width: 500px;
    text-align: center;
    color: white;
    border-radius: 20px;
    height: 20vh;
    padding: 20px;
    min-height: 200px;
    box-shadow: 0px 0px 50px grey;
}

.forgot-form-inner[b-ugp46tvjku] {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.forgot-form-label[b-ugp46tvjku] {
    width: 100%;
    margin: 0 auto;
    color: black;
}

[b-ugp46tvjku] .forgot-form-input {
    display: block;
    width: 80%;
    background-color: #d9d9d9;
    margin: 0 auto;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    height: 30%;
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.forgot-form-section[b-ugp46tvjku] {
    display: block;
    width: 100%;
    height: 50%;
}

.forgot-form-button[b-ugp46tvjku] {
    color: white;
    width: 35%;
    background-color: blue;
    border: none;
    border-radius: 20px;
    transition: width 0.5s;
    margin-top: 20px;
}

.forgot-form-error-message[b-ugp46tvjku] {
    width: 100%;
    margin: 0 auto;
    color: red;
}

.forgot-form-button:hover[b-ugp46tvjku] {
    width: 40%;
}

[b-ugp46tvjku] *:focus {
    outline: none;
    outline-width: 0;
}
/* /Views/Pages/Authentication/Login.razor.rz.scp.css */
.login-form[b-8ggl0ruzd5] {

    background-color: white;
    margin: 0 auto;
    width: 30%;
    min-width: 500px;
    text-align: center;
    color: white;
    border-radius: 20px;
    height: 30vh;
    padding: 20px;
    min-height: 300px;
    box-shadow: 0px 0px 50px grey;
}

.login-form-inner[b-8ggl0ruzd5] {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.login-form-label[b-8ggl0ruzd5] {
    width: 100%;
    margin: 0 auto;
    color: black;
}

[b-8ggl0ruzd5] .login-form-input {
    display: block;
    width: 80%;
    background-color: #d9d9d9;
    margin: 0 auto;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    height: 60%;
    padding-left: 20px;
    padding-right: 20px;
}

.login-form-section[b-8ggl0ruzd5] {
    display: block;
    width: 100%;
    height: 25%;
}

.login-form-button[b-8ggl0ruzd5] {
    color: white;
    width: 30%;
    background-color: blue;
    border: none;
    border-radius: 20px;
    transition: width 0.5s;
    margin-top: 20px;
}

.login-form-sub-button[b-8ggl0ruzd5] {
    position: relative;
    left: 20%;
    background-color:white;
    border: none;
    text-decoration: underline;
    color: black;
}

.login-form-error-message[b-8ggl0ruzd5] {
    width: 100%;
    margin: 0 auto;
    color: red;
}

.login-form-button:hover[b-8ggl0ruzd5] {
    width: 35%;
}

[b-8ggl0ruzd5] *:focus {
    outline: none;
    outline-width: 0;
}
/* /Views/Pages/Authentication/Register.razor.rz.scp.css */
.register-form[b-2x67hwbbf9] {
    background-color: white;
    margin: 0 auto;
    width: 30%;
    min-width: 500px;
    text-align: center;
    color: white;
    border-radius: 20px;
    height: 30vh;
    padding: 20px;
    min-height: 350px;
    box-shadow: 0px 0px 50px grey;
}

.register-form-inner[b-2x67hwbbf9] {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register-form-label[b-2x67hwbbf9] {
    width: 100%;
    margin: 0 auto;
    color: black;
}

[b-2x67hwbbf9] .register-form-input {
    display: block;
    width: 80%;
    background-color: #d9d9d9;
    margin: 0 auto;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    height: 50%;
    padding-left: 20px;
    padding-right: 20px;
}

.register-form-section[b-2x67hwbbf9] {
    display: block;
    width: 100%;
    height: 30%;
}

.register-form-button[b-2x67hwbbf9] {
    color: white;
    width: 30%;
    background-color: blue;
    border: none;
    border-radius: 20px;
    transition: width 0.5s;
    margin-top: 20px;
}

.register-form-sub-button[b-2x67hwbbf9] {
    background-color: white;
    border: none;
    text-decoration: underline;
    color: black;
}

.register-form-error-message[b-2x67hwbbf9] {
    width: 100%;
    margin: 0 auto;
    color: red;
}

.register-form-button:hover[b-2x67hwbbf9] {
    width: 35%;
}

[b-2x67hwbbf9] *:focus {
    outline: none;
    outline-width: 0;
}
/* /Views/Pages/Authentication/RegisterCustomer.razor.rz.scp.css */
.progress-outer[b-asbmaaci4s] {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.progress-information[b-asbmaaci4s] {
    width: 100%;
    display: inline-flex;
}

.progress-step[b-asbmaaci4s] {
    position: relative;
    display: block;
    text-align: center;
}

#step-1[b-asbmaaci4s] {
    margin-right: auto;
}

#step-2[b-asbmaaci4s] {
    margin-left: auto;
    margin-right: auto;
}

#step-3[b-asbmaaci4s] {
    margin-left: auto
}

.progress-bar[b-asbmaaci4s] {
    margin: 0 auto;
    width: 100%;
    background-color: #ededed;
    height: 24px;
    border-radius: 20px;
    margin-bottom: 5%;
}

.progress[b-asbmaaci4s] {
    width: 55%;
    background-color: blue;
    height: 100%;
    border-radius: 20px;
}

.customer-form[b-asbmaaci4s] {
    background-color: white;
    margin: 0 auto;
    width: 50%;
    min-width: 500px;
    text-align: center;
    color: white;
    border-radius: 20px;
    height: 40vh;
    padding: 20px;
    min-height: 600px;
    box-shadow: 0px 0px 50px grey;
}

.customer-form-inner[b-asbmaaci4s] {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding: 30px;
}

.customer-form-label[b-asbmaaci4s] {
    width: 100%;
    color: black;
    text-align: start;
    padding-left: 20px;
}

[b-asbmaaci4s] .customer-form-input {
    display: block;
    width: 80%;
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    height: 60%;
    padding-left: 20px;
    padding-right: 20px;
}

.customer-form-section[b-asbmaaci4s] {
    display: block;
    width: 100%;
    height: 10%;
    margin-bottom: 20px;
}

.customer-form-button[b-asbmaaci4s] {
    color: white;
    width: 30%;
    background-color: blue;
    border: none;
    border-radius: 20px;
    transition: width 0.5s;
    margin-top: 20px;
}

.customer-form-sub-button[b-asbmaaci4s] {
    position: absolute;
    right: 40%;
    background-color: white;
    border: none;
    text-decoration: underline;
    color: black;
}

.customer-form-error-message[b-asbmaaci4s] {
    width: 100%;
    margin: 0 auto;
    color: red;
}

#name[b-asbmaaci4s] {
    display: inline-flex;

}





.customer-form-button:hover[b-asbmaaci4s] {
    width: 35%;
}

[b-asbmaaci4s] *:focus {
    outline: none;
    outline-width: 0;
}
/* /Views/Pages/CarFinance.razor.rz.scp.css */
body[b-mcae6d5vii] {
}

img[b-mcae6d5vii] {
    width: 100%;
}

table[b-mcae6d5vii] {
    width: 80%;
    margin: 0 auto;
}

th[b-mcae6d5vii], td[b-mcae6d5vii] {
    text-align: left;
}

select[b-mcae6d5vii], [b-mcae6d5vii] select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 2px solid #ededed;
    border-radius: 5px;
    font-size: 16px;
    width: 40%;
    margin-left: 10%;
}

label[b-mcae6d5vii], [b-mcae6d5vii] label {
    padding-left: 30%;
    width: 100%;
    text-align: center;
}

#total-months[b-mcae6d5vii]::after {
    content: "⌄";
    position: relative;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    color: white;
    font-size: 20px;
    background-color: blue;
    padding: 2px;
    padding-top: 0px;
    padding-right: 10px;
    border-radius: 5px;
}

option[b-mcae6d5vii], [b-mcae6d5vii] option {
    background-color: white;
}

input[b-mcae6d5vii], [b-mcae6d5vii] input {
    width: 40%;
    margin-left: 5%;
}

tr:nth-child(even)[b-mcae6d5vii] {
    background-color: #ededed;
}

.outer-div[b-mcae6d5vii] {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 20rem 20rem;
    grid-auto-rows: auto;
    grid-gap: 20px 20px;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 100px;
}

.header[b-mcae6d5vii] {
    grid-area: 1 / 1 / 2 / 3;
    text-align: center;
}

.image[b-mcae6d5vii] {
    display: flex;
    width: auto;
    height: 300px;
    max-height: 100%;
    margin-top: 5%;
    margin-left: 10px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.finance[b-mcae6d5vii] {
    grid-area: 2 / 2 / 3 / 3;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    min-width: 400px;
    height: 100%;
    box-shadow: 0px 0px 20px;
    padding: 10px;
    text-align: center;
}

.finance-options[b-mcae6d5vii] {
    grid-area: 3 / 2 / 4 / 3;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    min-width: 400px;
    height: 100%;
    box-shadow: 0px 0px 20px;
    padding: 10px;
    text-align: center;
}

.finance-options-form-section[b-mcae6d5vii] {
    width: 90%;
}

.finance-options-form-label[b-mcae6d5vii] {
    width: 90%;
    text-align: left;
}

.finance-options-button[b-mcae6d5vii] {
    color: black;
    width: 40%;
    background-color: #ededed;
    border: none;
    border-radius: 20px;
    transition: width 0.5s;
    margin-top: 20px;
    margin: 0 auto;
}

.finance-actions[b-mcae6d5vii] {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    padding-bottom: 1%;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    box-shadow: 0px -10px 10px lightgrey;
    display: inline-flex;
}

.finance-button[b-mcae6d5vii] {
    width: 20%;
    border: none;
    border-radius: 20px;
    transition: width 0.5s;
    margin-top: 20px;
    margin: 0 auto;
    
}

#cancel[b-mcae6d5vii] {
    color: black;
    background-color: #ededed;
}

#proceed[b-mcae6d5vii] {
    color: white;
    background-color: blue;
}

#monthly-payment[b-mcae6d5vii] {
    color: black;
    width: 50%;
    padding-left: 10%;
}

.information[b-mcae6d5vii] {
    grid-area: 2 / 1 / 4 / 2;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    min-width: 400px;
    height: 100%;
    box-shadow: 0px 0px 20px;
    padding: 10px;
    text-align: center;
}

.car-details[b-mcae6d5vii] {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
    height: 20%;
    background-color: #ededed;
    border-radius: 20px;
}

.car-sub-details[b-mcae6d5vii] {
    display: inline-block;
    align-content: space-evenly;
    height: 70%;
    padding: 20px;
}

#total-months[b-mcae6d5vii] {
    display: block;
    margin: 0 auto;
    padding: 20px;
}

#deposit[b-mcae6d5vii] {
    display: block;
    margin: 0 auto;
    padding: 20px;
}

@media screen and (max-width: 1200px) {

    .outer-div[b-mcae6d5vii] {
        grid-template-rows: 10% 30rem 20rem 20rem;
    }

    .information[b-mcae6d5vii] {
        grid-area: 2 / 1 / 3 / 3;
    }

    .finance[b-mcae6d5vii] {
        grid-area: 3 / 1 / 4 / 3;
    }

    .finance-options[b-mcae6d5vii] {
        grid-area: 4 / 1 / 5 / 3;
    }

    .image[b-mcae6d5vii] {
        margin-top: 0px;
    }

    .car-details[b-mcae6d5vii] {
        margin-top: 0px;
        margin-bottom: 10%;
        height: auto;

    }

    .car-name[b-mcae6d5vii] {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        margin: 0 auto;
    }
}
/* /Views/Pages/CarOverview.razor.rz.scp.css */
body[b-ux5j8qwzzo] {
}

.outer-div[b-ux5j8qwzzo] {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 1fr 15rem 10rem;
    grid-auto-rows: auto;
    grid-gap: 20px 20px;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 100px;
}

.header[b-ux5j8qwzzo] {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
}

.image[b-ux5j8qwzzo] {
    display: flex;
    grid-area: 2 / 1 / 3 / 2;
    width: auto;
    height: 300px;
    max-height: 100%;
    margin-top: 5%;
    margin-left: 10px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

img[b-ux5j8qwzzo] {
    width: 100%;

}

.information[b-ux5j8qwzzo] {
    grid-area: 3 / 1 / 4 / 2;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px;
    padding: 10px;
    text-align: center;
}

.car-name[b-ux5j8qwzzo] {
    height: 50%;
}

.car-details[b-ux5j8qwzzo] {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    height: 50%;
    
}

.car-sub-details[b-ux5j8qwzzo] {
    display: inline-block;
    align-content: space-evenly;
    height: 70%;
    padding: 20px;
}

.seperator[b-ux5j8qwzzo] {
    height: 70%;
    width: 2px;
    background: black;
}

.payment-decision[b-ux5j8qwzzo] {
    grid-area: 4 / 1 / 5 / 2;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}


.finance[b-ux5j8qwzzo] {
    background-color: #ededed;
    border-radius: 20px;
    width: 48%;
    height: 100%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    place-items: center;
    margin-right: 10px;
    text-align: center;
}

.finance-actions[b-ux5j8qwzzo] {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    padding-bottom: 1%;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    box-shadow: 0px -10px 10px lightgrey;
    display: inline-flex;
}

.finance-button[b-ux5j8qwzzo] {
    width: 20%;
    border: none;
    border-radius: 20px;
    transition: width 0.5s;
    margin-top: 20px;
    margin: 0 auto;
}

#cancel[b-ux5j8qwzzo] {
    color: black;
    background-color: #ededed;
}

#proceed[b-ux5j8qwzzo] {
    color: white;
    background-color: blue;
}

#monthly-payment[b-ux5j8qwzzo] {
    color: black;
    width: 50%;
    padding-left: 10%;
}

.payment[b-ux5j8qwzzo] {
    background-color: #ededed;
    border-radius: 20px;
    width: 48%;
    height: 100%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    text-align: center;
}

.payment-selection-button[b-ux5j8qwzzo] {
    transition: background-color 0.5s;
    border-radius: 20px;
    width: 30%;
    min-width: 200px;
    border: none;
    padding: 5px;
    border: 2px solid blue;
}

.payment-selection-button:hover[b-ux5j8qwzzo] {
    background-color: blue;
}

#selected-button[b-ux5j8qwzzo] {
    color: white;
    background-color: blue;
}

#unselected-button[b-ux5j8qwzzo] {
    color: black;
    background-color: white;
    
}

#unselected-button:hover[b-ux5j8qwzzo] {
    background-color: blue;
    color: white;
}
/* /Views/Pages/CarsPage.razor.rz.scp.css */
body[b-7ifbbbe3h0] {
}

.car-grid[b-7ifbbbe3h0] {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    margin: 30px;
    grid-gap: 10px;
    justify-items: center;
}
/* /Views/Pages/DealershipsPage.razor.rz.scp.css */
html[b-k2i8k3dkdw], body[b-k2i8k3dkdw] {
    height: 100%;
    width: 100%;
    margin: 0;
}

.map iframe[b-k2i8k3dkdw] {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.map[b-k2i8k3dkdw] {
    height: 70vh;
    width: 70%;
    margin: 0 auto;
}


/* /Views/Pages/HomePage.razor.rz.scp.css */
.outer-div[b-aaqd9d26q7] {
    height: 100%;
    width: 100%;
    display: flex;
}

.inner-div[b-aaqd9d26q7] {
    height: auto;
    display: inline-block;
}


.nav-btns[b-aaqd9d26q7] {
    display: flex;
    height: contain;
    position: relative;
    top: 20%;
    bottom: 50%;
}

#car-image[b-aaqd9d26q7] {
    height: 100%;
    width: 50%;
    margin-top: 20px;
}

h1[b-aaqd9d26q7] {
    font-weight: 700;
    font-size: 8vh;
    margin-top: 10px;
}

img[b-aaqd9d26q7] {
    height: 100%;
    width: 100%;
}
/* /Views/Pages/InventoryPage.razor.rz.scp.css */
body[b-e3aalrj1b6] {
}

.car-grid[b-e3aalrj1b6] {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    margin: 30px;
    grid-gap: 10px;
    justify-items: center;
}
/* /Views/Shared/Components/Buttons/GenericNavButtonComponent.razor.rz.scp.css */
a[b-aagy7j7nvx] {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 20px;
    margin: 10px 5px;
    transition: background-color 0.5s;
}

.active[b-aagy7j7nvx] {
    background-color: pink;
}

#login[b-aagy7j7nvx] {
    color: white;
    background-color: blue;
}

#offers[b-aagy7j7nvx] {
    border: 2px solid blue;
    transition: border 0.2s;
}

#offers:hover[b-aagy7j7nvx] {
    border: 2px solid lightgrey;
    background-color: white;
}


#main-logo[b-aagy7j7nvx] {
    color: black;
    transition: none;
    font-weight: 700;
    font-size: 25px;
    padding: 5px 16px;
}

#main-logo:hover[b-aagy7j7nvx] {
    background-color: white;
}

a:hover[b-aagy7j7nvx] {
    background-color: lightgrey;
    text-decoration: none;
    cursor: pointer;
}




/* /Views/Shared/Components/NavBarComponent.razor.rz.scp.css */
*[b-ma7pnd7n50] {
    background-color: white;
}

.top-nav[b-ma7pnd7n50] {
    white-space: nowrap;
    box-shadow: 0px 10px 10px lightgrey;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}

.top-nav-home[b-ma7pnd7n50] {
    display: inline-block;
    float: left
}

.top-nav-btns[b-ma7pnd7n50] {
    display: inline-block;
}

.top-nav-login[b-ma7pnd7n50] {
    display: inline-block;
    float: right;
}

/* /Views/Shared/Components/ProgressBarComponent.razor.rz.scp.css */
.progress-outer[b-btlgvcinmt] {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.progress-information[b-btlgvcinmt] {
    width: 100%;
    display: inline-flex;
}

.progress-step[b-btlgvcinmt] {
    position: relative;
    display: block;
    text-align: center;
}

#step-1[b-btlgvcinmt] {
    margin-right: auto;
}

#step-2[b-btlgvcinmt] {
    margin-left: auto;
    margin-right: auto;
}

#step-3[b-btlgvcinmt] {
    margin-left: auto
}

.progress-bar[b-btlgvcinmt] {
    margin: 0 auto;
    width: 100%;
    background-color: #ededed;
    height: 24px;
    border-radius: 20px;
    margin-bottom: 5%;
}

.progress[b-btlgvcinmt] {
    background-color: blue;
    height: 100%;
    border-radius: 20px;
}
/* /Views/Shared/Components/TitleComponent.razor.rz.scp.css */


.top-row h1[b-jktahn5nld] {
   color: black;
   text-align: center;
   padding: 0px 0px 0px 10px;
   font-size: 30px;
}
/* /Views/Shared/Pages/MainLayout.razor.rz.scp.css */
.main-body[b-v6welsjzr3] {
    margin-top: 90px;
}

.page[b-v6welsjzr3] {
    background-color: white;
}

.top-row[b-v6welsjzr3] {
    background-color: white;
    overflow: hidden;
    min-height: 80px;
    align-items: center;
    display: flex;
    
}


/*
    Main Colours
    Light Blue - 1E91D6
    Darker Blue - 0072BB
*/
