@page "/forgot"

<div class="forgot-form">
    <EditForm style="height: inherit; min-height:inherit;" Model="forgotUser" OnSubmit="HandleForgotUser">
        <div class="forgot-form-inner">
            <div class="forgot-form-section">
                <label class="forgot-form-label" for="email">Email</label>
                <InputText class="forgot-form-input" @bind-Value="forgotUser.email" type="email"></InputText>

            </div>
            <div class="forgot-form-section">
                <button type="submit" class="forgot-form-button">Reset Password</button>
            </div>
        </div>

    </EditForm>
</div>

@code {
    private class ForgotUser
    {
        public string email { get; set; } = string.Empty;
    }

    ForgotUser forgotUser = new ForgotUser();

    void HandleForgotUser()
{
        
}
}

