@page "/login"
@inject IAuthService AuthService


<h3>Login</h3>

<div class="login-form">
    <EditForm Model="user" OnSubmit="HandleLogin">
        <div class="login-form-inner">
            <div class="login-form-section">
                <label for="email">Email</label>
                <InputText @bind-Value="user.Email" type="email"></InputText>
            </div>
            <div class="login-form-section">
                <label for="password">Password</label>
                <InputText @bind-Value="user.Password" type="password"></InputText>
            </div>

            <button type="submit" class="btn-primary">Login</button>
            
            
        </div>
        
    </EditForm>
</div>

<AuthorizeView >
    <Authorized>
        You are authorised
    </Authorized>
</AuthorizeView>

@code {
    UserDto user = new UserDto();



    async Task HandleLogin()
    {
        int result = await AuthService.LoginUser(user);
        Console.WriteLine(result);
    }
}

