@page "/login/{Next}"
@page "/login"
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
@using GlobalFinance.Client.Views.Shared.Components

<h3>Login</h3>

@if (Next == "send_enquiry")
{
    <ProgressBarComponent Progress="55"></ProgressBarComponent>
}

<div class="login-form">
    <EditForm style="height: inherit; min-height:inherit;" Model="user" OnSubmit="HandleLogin">
        <div class="login-form-inner">
            <div class="login-form-section">
                <label class="login-form-label" for="email">Email</label>
                <InputText class="login-form-input" @bind-Value="user.Email" type="email"></InputText>

            </div>
            <div class="login-form-section">
                <label class="login-form-label" for="password">Password</label>
                <InputText class="login-form-input" @bind-Value="user.Password" type="password"></InputText>
                <button class="login-form-sub-button" @onclick="GoToResetPassword">Forgotten Password</button>
            </div>

            <div class="login-form-section">
                <button type="submit" class="login-form-button">Login</button>
                <div class="login-form-error-message">
                    @errorMessage
                </div>
            </div>
        </div>

    </EditForm>
</div>
<AuthorizeView>
    <Authorized>
        You are authorised
    </Authorized>
</AuthorizeView>

@code {

    [Parameter]
    public string Next { get; set; }

    UserDto user = new UserDto();

    string errorMessage = string.Empty;

    async Task HandleLogin()
    {
        int result = await AuthService.LoginUser(user);

        if (result == 1)
        {
            errorMessage = "Invalid Credentials";
        }
        else
        {
            if (!string.IsNullOrEmpty(Next))
            {
                NavigationManager.NavigateTo($"/{Next}");
            }
        }
    }

    private void GoToResetPassword()
    {
        NavigationManager.NavigateTo("/forgot");
    }
}

